@font-face {
    font-family: screenMatrix;
    src: url(ScreenMatrix.ttf);
}

@font-face {
    font-family: digitalS;
    src: url(digital-7.ttf);
}

#container{
	border: 3px solid black;
	width: 40vw;
	height: 75vw;
	margin-top: 15%;
	text-align: center;
	background-color: lightgray;
	border-radius: 3%;
}

.button{
	font-size: 3vw;
	margin-top: 5%;
	width: 12%;
	padding: 3%;
	border: 2px solid black;
	border-radius: 15%;
	background-color: beige;
		display: inline-block;
}

#solarCont{
	margin-top: 7%;
}

.solarP{
	display:inline;
	margin-top: 5%;
	padding: 2%;
	border: 1px solid black;
	background-color: green;
}

#display{
	color: green;
	font-family: digitalS; /*try to use "screenmatrix font"*/
	font-size: 4vw;
	margin-left: 5%;
	padding: 5%;
	margin-top: 10%;
	font-weight: bold;
	width: 30vw;
	border: 2px solid black;
 	background-color:  darkgray;
}

}